# `Amostragem Aleatória Simples`


#### Vamos ver como podemos calcular amostras com o método de amostragem aleatória simples.


![alt_text](https://www.netquest.com/hubfs/Imported_Blog_Media/imagempost.png)

<br>

#### Essa é a forma mais simples de se amostrar em termos de código. O Python tem seu método bult-in para cálculo de amostras aleatórias, assim como a biblioteca pandas, bastante utilizada para análise exploratória de dados.

#### Vamos utilizar a função sample do Python para calcular amostras aleatórias de uma lista, que consideraremos como nossa população

In [2]:
from random import sample

In [32]:
populacao = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Amostra aleatória simples de tamanho 4

In [33]:
sample(populacao, 4)

[12, 4, 1, 7]

In [34]:
sample(populacao, 4)

[1, 11, 2, 10]

In [35]:
sample(populacao, 4)

[6, 7, 10, 11]

In [36]:
sample(populacao, 4)

[1, 12, 9, 11]

#### Importando a biblioteca pandas (https://pandas.pydata.org)

In [37]:
import pandas

In [38]:
df = pandas.DataFrame(populacao, columns = ["values"])
df

    values
0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12

Amostra aleatória simples de tamanho 4

In [39]:
df.sample(n = 4)

   values
1       2
6       7
0       1
3       4

In [40]:
df.sample(n = 4)

   values
5       6
9      10
1       2
3       4

In [41]:
df.sample(n = 4)

   values
0       1
1       2
3       4
4       5

Ao invés de passar o tamanho da amostra que queremos para o Pandas, podemos passar a proporção do todo que queremos na nossa amostra.

In [45]:
df.sample(frac = 0.33)

   values
0       1
7       8
1       2
3       4

In [46]:
df.sample(frac = 0.33)

    values
9       10
8        9
11      12
4        5

In [47]:
df.sample(frac = 0.33)

    values
11      12
1        2
6        7
8        9

# `Amostragem Sistemática`


#### Vamos ver como podemos calcular amostras com o método de amostragem sistemática.


![alt_text](https://www.netquest.com/hubfs/Imported_Blog_Media/Post-blog.png)

<br>

#### Vamos usar o exemplo acima, onde pegamos a terceira ocorrência, começando da segunda observação.

In [ ]:
import numpy as np

#### Usando python puro, ficaria assim:

In [50]:
tamanho_populacao = len(populacao)

In [55]:
for i in range(1, tamanho_populacao, 3):
    print(i)

1
4
7
10

In [58]:
amostra_sistematica_exemplo = []
for i in range(1, tamanho_populacao, 3):
    amostra_sistematica_exemplo.append(populacao[i])

In [59]:
amostra_sistematica_exemplo

[2, 5, 8, 11]

#### Exatamente como no exemplo!!

#### Para calcularmos uma amostra sistemática no Pandas, a lógica é a mesma. Vamos utilizar os índices do pandas para filtrar somente as posições que queremos

In [62]:
np.arange(1, 12, step=3)

array([ 1,  4,  7, 10])

In [68]:
def amostragem_sistematica(df, inicio = 0, step = 3):
    indexes = np.arange(inicio, df.shape[0], step=step)
    amostra = df.iloc[indexes]
    return amostra

In [79]:
amostragem_sistematica(df, 1, 3)

    values
1        2
4        5
7        8
10      11

#### Exatamente como no exemplo!!