# `Amostragem Aleatória Simples`


#### Vamos ver como podemos calcular amostras com o método de amostragem aleatória simples.


![alt_text](https://www.netquest.com/hubfs/Imported_Blog_Media/imagempost.png)

<br>

#### Essa é a forma mais simples de se amostrar em termos de código. O Python tem seu método bult-in para cálculo de amostras aleatórias, assim como a biblioteca pandas, bastante utilizada para análise exploratória de dados.

#### Vamos utilizar a função sample do Python para calcular amostras aleatórias de uma lista, que consideraremos como nossa população

In [1]:
from random import sample

In [2]:
populacao = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Amostra aleatória simples de tamanho 4

In [3]:
sample(populacao, 4)

[5, 2, 4, 10]

In [9]:
sample(populacao, 5)

[11, 2, 9, 10, 8]

In [10]:
sample(populacao, 6)

[8, 6, 10, 11, 3, 5]

In [6]:
sample(populacao, 4)

[6, 12, 11, 10]

#### Importando a biblioteca pandas (https://pandas.pydata.org)

In [11]:
import pandas

In [12]:
df = pandas.DataFrame(populacao, columns = ["values"])
df

    values
0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12

Amostra aleatória simples de tamanho 4

In [13]:
df.sample(n = 4)

    values
5        6
1        2
4        5
11      12

In [14]:
df.sample(n = 4)

   values
3       4
1       2
8       9
9      10

In [15]:
df.sample(n = 4)

    values
1        2
9       10
11      12
6        7

Ao invés de passar o tamanho da amostra que queremos para o Pandas, podemos passar a proporção do todo que queremos na nossa amostra.

In [16]:
df.sample(frac = 0.33)

    values
9       10
7        8
11      12
1        2

In [17]:
df.sample(frac = 0.33)

   values
3       4
1       2
0       1
5       6

In [18]:
df.sample(frac = 0.33)

    values
9       10
0        1
10      11
4        5

# `Amostragem Sistemática`


#### Vamos ver como podemos calcular amostras com o método de amostragem sistemática.


![alt_text](https://www.netquest.com/hubfs/Imported_Blog_Media/Post-blog.png)

<br>

#### Vamos usar o exemplo acima, onde pegamos a terceira ocorrência, começando da segunda observação.

In [19]:
import numpy as np

#### Usando python puro, ficaria assim:

In [20]:
tamanho_populacao = len(populacao)

In [21]:
for i in range(1, tamanho_populacao, 3):
    print(i)

1
4
7
10

In [26]:
amostra_sistematica_exemplo = []
for i in range(1, tamanho_populacao, 3):
    amostra_sistematica_exemplo.append(populacao[i])

In [27]:
amostra_sistematica_exemplo

[2, 5, 8, 11]

#### Exatamente como no exemplo!!

#### Para calcularmos uma amostra sistemática no Pandas, a lógica é a mesma. Vamos utilizar os índices do pandas para filtrar somente as posições que queremos

In [28]:
np.arange(1, 12, step=3)

array([ 1,  4,  7, 10])

In [29]:
def amostragem_sistematica(df, inicio = 0, step = 3):
    indexes = np.arange(inicio, df.shape[0], step=step)
    amostra = df.iloc[indexes]
    return amostra

In [30]:
amostragem_sistematica(df, 1, 3)

    values
1        2
4        5
7        8
10      11

#### Exatamente como no exemplo!!